.cardcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffa384; 
    color: white; 
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    max-height: 350px;
    margin: 8px 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;

}

.cardcontainer:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.cardimg {
    width: 100%;
    height: auto;
    border-radius: 10px;
    height: 200px; 
    width: 300px;
    object-fit: cover; 
    
}

.cardheading {
    font-size: 1.2em;
    font-weight: bold;
    margin: 15px 0 5px;
    text-align: center;
}

.cardprice {
    font-size: 1em;
    color: white; 
    margin-bottom: 15px;
    text-align: center;
}
.cardbuttons{
    display: flex;
    flex-direction: row;
}

.cardedit .carddelete {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.2em;
    margin: 0 5px;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.cardedit {
    color: #4caf50; 
}

.carddelete {
    color: #f44336; 
}

.cardmodal{
    opacity: 0.9;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    background-color: #343837;
    border-radius: 10px;
}
h2{
    color: white;
    text-align: center;
    padding-top: 5px;
}


@media (max-width: 768px) {
    .cardcontainer {
        max-width: 90%;
        padding: 15px;
    }
    .cardheading {
        font-size: 1em;
    }
    .cardprice {
        font-size: 0.9em;
    }
    button {
        font-size: 1em;
    }
}
